/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-family: 'Nunito', sans-serif;
}


/* ---- typography ---- */



/* ---- layout ---- */


.container {
  margin: 0 20px;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}

/* ---- header ---- */

nav {
  display: flex;
  flex-direction: row;
  background-color: red;
  justify-content: space-between;
}

nav .logo {
  background-color: blue;
}

nav .buttons {
  background-color: yellow;
}

/* ---- main ---- */

#main-section {
  display: flex;
  flex-direction: row;  
  justify-content: space-between;
}

.zeppelin-image {
  width: 50%;
}



.form {
  width: 40%;
  margin-right: 6rem; 
}

.form h1 {
  font-family: 'Nunito', sans-serif;
  color: #457DE7;
  line-height: 45px;
  font-size: 36px;
}

.form p {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  color: #404040;
  line-height: 29px;
}

#email {
  width: 210px;
  height: 46px;
  background-color: #F7F7F7;
  border-radius: 4px 0px 0px 4px;
  border: solid 1px #EEEEEE;
}

#button {
  width: 170px;
  height: 46px;
  border-radius: 0px 4px 4px 0px;
  background-color:  #FFC65B;
  border: solid 1px #ECB44A;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: #404040;
}

#benefit-section {
  background-color: red;
}

.mobile-image {
  background-color: blue;
}

.benefit-wrap {
  background-color: aqua;
}

.benefit-container {
  background-color: magenta;
  display: flex;
  flex-direction: row;
}

.benefit-first {
  background-color: brown;
}
.benefit-second {
  background-color: blue;
}
.benefit-third {
  background-color: red;
}

h2 {
  margin: 0;
}

#feedback-section {
  background-color: yellow;
}

.feedback-wrap {
  background-color: green;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.feedback-container1 {
  background-color: blue;
  display: flex;
  flex-direction: row;
}

.feedback-first-text {
  background-color: magenta;
}

.feedback-container2 {
  background-color: aqua;
  display: flex;
  flex-direction: row;
}

.feedback-second-text {
  background-color: yellow;
}


/* ---- footer ---- */
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: blueviolet
}

footer p {
  background-color: red;
}
/* ---- components ---- */

/* ---- css shame ---- */

