/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-family: 'Nunito', sans-serif;
}


/* ---- typography ---- */



/* ---- layout ---- */


.container {
  margin: 0 20px;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}

/* ---- header ---- */

nav {
  display: flex;
  flex-direction: row;
  background-color: red;
  justify-content: space-between;
}

nav .logo {
  background-color: blue;
}

nav .buttons {
  background-color: yellow;
}

/* ---- main ---- */

#main-section {
  background-color: orange;
  display: flex;
  flex-direction: row;
}

.zeppelin-image {
  background-color: aqua;
}

.form {
  background-color: blue;
}

.form form {
  background-color: yellow;
}

#benefit-section {
  display: flex;
  flex-direction: column;
}

.benefit-section-photo{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: linear-gradient(to right, #95CEF0, #5EA5F0);
}

.benefit-section-paragraph{
  text-align: left;
  padding-top: 110px;
  width: 40%;
}

.benefit-section-paragraph h2{
  font-style: 'Nunito Bold';
  font-size: 26px;
  color: #FFFFFF;
  Line-height: 37px;
}

.benefit-section-paragraph p{
  font-family: 'Roboto Regular';
  font-size: 17px;
  color: #FFFFFF;
  Line-height: 26px;
}

.mobile-image{
  padding-bottom: 0;
  padding-top: 30px;
}

.mobile-image img{
  margin-bottom: -6px;
}

.benefit-container {
  display: flex;
  flex-direction: row;
  margin: 50px;
}

.benefit-container h3{
  font-family: 'Nunito Bold';
  font-size: 20px;
  color: #404040;
  text-align: center;
}

.benefit-container p{
  font-family: 'Roboto Regular';
  font-size: 17px;
  color: #404040;
  Text-align: center;
  Line-height: 26px;
  text-align: center;
  
}

h2 {
  margin: 0;
}

#feedback-section {
  background-color: yellow;
}

.feedback-wrap {
  background-color: green;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.feedback-container1 {
  background-color: blue;
  display: flex;
  flex-direction: row;
}

.feedback-first-text {
  background-color: magenta;
}

.feedback-container2 {
  background-color: aqua;
  display: flex;
  flex-direction: row;
}

.feedback-second-text {
  background-color: yellow;
}


/* ---- footer ---- */
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: blueviolet
}

footer p {
  background-color: red;
}
/* ---- components ---- */

/* ---- css shame ---- */

