/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-family: 'Nunito', sans-serif;
}


/* ---- typography ---- */



/* ---- layout ---- */


.container {
  margin: 0 20px;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}

/* ---- header ---- */

nav {
  display: flex;
  flex-direction: row;
  background-color: red;
  justify-content: space-between;
}

nav .logo {
  background-color: blue;
}

nav .buttons {
  background-color: yellow;
}

/* ---- main ---- */

#main-section {
  display: flex;
  flex-direction: row;  
  justify-content: space-between;
}

.zeppelin-image {
  width: 50%;
}

.form {
  width: 40%;
  margin-right: 6rem; 
}

.form h1 {
  font-family: 'Nunito', sans-serif;
  color: #457DE7;
  line-height: 45px;
  font-size: 36px;
}

.form p {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  color: #404040;
  line-height: 29px;
}


label{
  display: inline-block;
}

#email {
  width: 210px;
  height: 46px;
  background-color: #F7F7F7;
  border-radius: 4px 0px 0px 4px;
  border: solid 1px #EEEEEE;
}

#button {
  width: 170px;
  height: 46px;
  border-radius: 0px 4px 4px 0px;
  background-color:  #FFC65B;
  border: solid 1px #ECB44A;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: #404040;
}

#benefit-section {
  background-color: red;
}

.mobile-image {
  background-color: blue;
}

.benefit-wrap {
  background-color: aqua;
}

.benefit-container {
  background-color: magenta;
  display: flex;
  flex-direction: row;
}

.benefit-first {
  background-color: brown;
}
.benefit-second {
  background-color: blue;
}
.benefit-third {
  background-color: red;
}

h2 {
  margin: 0;
}

#feedback-section {
  background-color: #F7F7F7;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#feedback-section h2 {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  color: #457DE7;
  font-size: 24px;
  line-height: 37px;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 2rem;

}

.feedback-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 3rem;
}

.feedback-container1 {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-right: 0.5rem;
  padding: 2rem;
  width: 40%;
  border-radius: 5px;
}

.feedback-container1 blockquote {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #404040;
  margin: 0;
  padding-bottom: 1rem;
}

.feedback-profile {
  display: flex;
  flex-direction: row;
}

.feedback-profile img {
  height: 7rem;
  width: 7rem;
}

.feedback-text {
  margin-left: 1rem;
  align-self: center;
}

.feedback-text > p, h3 {
  margin: 0;
}

.feedback-text h3 {
  font-family: 'Nunito', sans-serif;
  font-size: 19px;
  font-weight: 700;
  color: #457DE7;
}

.feedback-text .role {
  font-family: 'Nunito', sans-serif;
  font-size: 17px;
  font-weight: 400;
  font-style: italic;
  color: #457DE7;
}

.feedback-text .city {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #404040;
}

.feedback-container2 {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 0.5rem;
  padding: 2rem;
  width: 40%;
  border-radius: 5px;

}

.feedback-container2 blockquote {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #404040;
  margin: 0;
  padding-bottom: 1rem;
 }


/* ---- footer ---- */
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #404040;
  padding: 2rem 0;
}

footer p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #969696;
}
/* ---- components ---- */

/* ---- css shame ---- */

